[Unit]
Description=RClone Bisync timer for 2ndBrain (every 15s)

[Timer]
OnBootSec=15s
OnUnitActiveSec=15s
AccuracySec=5s

[Install]
WantedBy=timers.target
